# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Notebook outputs and figures
Figure.pdf
Figure.png

# Virtual environments
venv/
.venv/
env/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# OneDrive/Windows
desktop.ini
